body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  background-color: transparent;
  font-size: 16px;
  color: #111111;
  text-rendering: optimizeLegibility;
}
ul,
li {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 6rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.2rem;
  margin: 0;
}
h4 {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0;
}
h5 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}


.theme-light {
  background: #ffffff;
  border-bottom: 1px solid #e4e4e4;
  display: flex;
  justify-content: center;
}
.theme-dark {
  background: #fafafa;
  -webkit-box-shadow: inset 0px 1px 4px 0px #00000026;
  -moz-box-shadow: inset 0px 1px 4px 0px #00000026;
  box-shadow: inset 0px 1px 4px 0px #00000026;
}
.theme-darker {
  background: #363636;
  -webkit-box-shadow: inset 0px 1px 4px 0px #00000026;
  -moz-box-shadow: inset 0px 1px 4px 0px #00000026;
  box-shadow: inset 0px 1px 4px 0px #00000026;
}
.theme-footer {
  background: #000000;
  -webkit-box-shadow: inset 0px 1px 4px 0px #00000026;
  -moz-box-shadow: inset 0px 1px 4px 0px #00000026;
  box-shadow: inset 0px 1px 4px 0px #00000026;
}

.inner-content {
  width: 100%;
  max-width: 1040px;
}

.charcoal {
  color: #8c8c8c;
}

.flex {
  display: flex;
}
.row {
  margin-left: 0;
  margin-right: 0;
}

.font-pattaya {
  font-family: "Pattaya", sans-serif;
  font-size: calc(3rem + 3.3vw);
}

.inline-photo {
  border: 1em solid #fff;
  border-bottom: 3em solid #fff;
  border-radius: 0.15em;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  margin: 1em auto;
  //opacity: 0;
  transform: translateY(1em) rotateZ(-3deg);
  transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1), opacity 0.3s 0.25s ease-out;
  max-width: 600px;
  width: 90%;
  will-change: transform, opacity;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@media (max-width: 576px) {
  .col-xs-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .col-xs-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xs-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xs-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xs-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xs-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xs-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xs-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xs-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xs-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xs-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xs-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
}
