#contact {
    color: #fff;
    a{
        text-decoration: none;
    }


    .social{
        span{
            font-size: 0.8rem;
            padding: 0 10px;
            color: lightgrey;
        }
    }


    .copyright{
        font-size: 0.7rem;
    }
}
